<h1>Listing tweets</h1>

<table>
  <tr>
    <th>Tweet</th>
    <th>Text</th>
    <th>Image</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tweets.each do |tweet| %>
  <tr>
    <td><%= tweet.tweet_id %></td>
    <td><%= tweet.text %></td>
    <td><%= tweet.image %></td>
    <td><%= tweet.date %></td>
    <td><%= link_to 'Show', tweet %></td>
    <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
    <td><%= link_to 'Destroy', tweet, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tweet', new_tweet_path %>
