<div class="row">
<div class="span12">
<%= form_for(@user,:html => {:class => "form-horizontal"}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="control-group">
    <label class="control-label">邮箱</label>
    <div class="controls"><%= f.text_field :email %></div>
  </div>
  <div class="control-group">
    <label class="control-label">密码</label>
    <div class="controls"><%= f.password_field :password %></div>
  </div>
  <div class="control-group">
    <label class="control-label">昵称</label>
    <div class="controls"><%= f.text_field :name %></div>
  </div>
  <div class="control-group">
    <label class="control-label">所在地</label>
    <div class="controls"><%= f.text_field :location %></div>
  </div>
  <div class="control-group">
    <label class="control-label">性别</label>
    <div class="controls">
        <%= f.radio_button :gender, "男"%> 男
        <%= f.radio_button :gender, "女"%> 女
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">博客</label>
    <div class="controls"><%= f.text_field :blog %></div>
  </div>
  <div class="control-group">
    <label class="control-label">QQ</label>
    <div class="controls"><%= f.text_field :qq %></div>
  </div>
  <div class="control-group">
    <label class="control-label">MSN</label>
    <div class="controls"><%= f.text_field :msn %></div>
  </div>                           
  <div class="control-group">
    <label class="control-label">简介</label>
    <div class="controls"><%= f.text_area :intro ,:rows => 4  %></div>
  </div>
  <div class="form-actions">
    <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>
</div>
</div>
