<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav">
            <% if @uid == session[:user_id] then%>
                <li <% if @subhomepage then %> class="active" <%end%>><a href="/users/tweets/<%=@uid%>">我的主页</a></li>
                <li <% if @subprofile then %> class="active" <%end%>><a href="/users/<%=@uid%>">我的资料</a></li>
                <li <% if @subfollowing then %> class="active" <%end%>><a href="/users/following/<%=@uid%>">我的关注</a></li>
                <li <% if @subfollower then %> class="active" <%end%>><a href="/users/followers/<%=@uid%>">我的粉丝</a></li>
            <% else %>
                <li <% if @subhomepage then %> class="active" <%end%>><a href="/users/tweets/<%=@uid%>">TA的主页</a></li>
                <li <% if @subprofile then %> class="active" <%end%>><a href="/users/<%=@uid%>">TA的资料</a></li>
                <li <% if @subfollowing then %> class="active" <%end%>><a href="/users/following/<%=@uid%>">TA的关注</a></li>
                <li <% if @subfollower then %> class="active" <%end%>><a href="/users/followers/<%=@uid%>">TA的粉丝</a></li>
            <% end %>
        </ul>
    </div>
</div>
