<legend>所有用户</legend>
<% @users.each do |user| %>
    <div class="row">
        <div class="span1">
            <a href="/users/<%=user.id%>"><img src="http://tp2.sinaimg.cn/<%=user.id%>/50/5609049485/1" height="45" width="45" class="img-polaroid"></img></a>
            <br />
            <%= link_to user.name, user %>  
        </div>
        <div class="span11">
            <%= link_to user.name, user %>  
            <span class="time"><%= user.gender %></span>
            <%= user.location %>
            <span class="pull-right">
                <% if @isadmin then %>
                    <a href="/users/add_following/<%=user.id%>" class="btn btn-info">关注</a>
                <%end%>
            </span>
        </div> 
    </div>  
    <hr />
<% end %>
