<%= render 'navbar' %>
<legend>粉丝列表</legend>
<% @users.each do |user| %>
    <div class="row">
        <div class="span1">
            <% user.img = "default.png" if user.img.nil? %>
            <a href="/users/<%=user.id%>"><img src="/photo/<%=user.img%>" height="45" width="45" class="img-polaroid"></img></a>
            <br />
            <%= link_to user.name, user %>  
        </div>
        <div class="span11">
            <span class="time"><%= user.gender %></span>
            <%= user.location %>
            <span class="pull-right">
                <% if @isadmin then %>
                <% if @is_following[user.id.to_i] == false then %>
                    <a href="/users/add_following/<%=user.id%>" class="btn btn-info">关注</a>
                <%end%>
                    <a href="/users/del_follower/<%=user.id%>" class="btn">删除</a>
                <%end%>
            </span>
        </div> 
    </div>  
    <hr />
<% end %>
