<legend>发布新鲜事</legend>
<div class="row">
    <div class="span12">
            <form accept-charset="UTF-8" action="/tweets" class="new_tweet" id="new_tweet" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="d7epYIOWTszD/Xa8d/EEYypZBtn6nbjQoYbwn//zeso="></div>
            <textarea id="tweet_text" name="tweet[text]" rows="4" cols="100"></textarea>
        <input id="post_btn" type="submit" value="发布" class="btn btn-primary" />
    </form>
    </div>
</div>

<br />

<legend>全部微博</legend>
<% @tweets.each do |tweet| %>
<div class="row">
    <div class="span1">
        <a href="/users/<%= @user_id[tweet.id.to_i] %>"> <img src="/photo/<%= @user_img[tweet.id.to_i] %>" height="45" width="45" class="img-polaroid"></img></a>
        <br />
        <a href="/users/<%= @user_id[tweet.id.to_i] %>"><%= @user_name[tweet.id.to_i] %></a>
        
    </div>
    <div class="span8">
        <%= tweet.text %>
        <br />
        <span class="time"><%= tweet.date %></span>
        <br />
    </div>
</div>
<hr />
<br />
<% end %>
