<div class="row">
    <img style="border:1px solid grey;" src="/images/head.png" alt="banner" />
    <br />
    <br />
    <legend>登录</legend>
    <br />
    <div class="span12">
        <% unless @error.nil? then %>
            <div class="alert alert-error"> <%= @error %> </div>
        <% end %>
        <form method="post" action="/users/submit_login" class="form-horizontal">
            <div class="control-group">
                <label class="control-label">邮箱</label>
                <div class="controls"><input name="email" type="text" /></div>
            </div>
            <div class="control-group">
                <label class="control-label">密码</label>
                <div class="controls"><input name="password" type="password" /></div>
            </div>
            <div class="form-actions">
                <input type="submit" class="btn btn-primary" value="登录" />
            </div>
        </form>
    </div>
</div>
