<legend>"<%=@query%>" 用户查询结果</legend>
<% if !@users.nil? && @users.count > 0 then %>
<% @users.each do |user| %>
    <div class="row">
        <div class="span1">
            <% user.img = "default.png" if user.img.nil? %>
            <a href="/users/<%=user.id%>" ><img src="/photo/<%= user.img %>" height="45" width="45" class="img-polaroid"></img> </a>
        </div>
        <div class="span11">
            <%= link_to user.name, user %>  
            <span class="time"><%= user.gender %></span>
            <%= user.location %>
            <% if user.id != session[:user_id] then %>
                <span class="pull-right">
                    <% if @is_following != nil && @is_following[user.id.to_i] == false then %>
                        <a href="/users/add_following/<%=user.id%>" class="btn btn-info">关注</a>
                    <% elsif @is_following != nil then %>
                        <a href="/users/del_following/<%=user.id%>" class="btn btn-info">删除</a>
                    <%end%>
                </span>
            <% end %>
        </div> 
    </div>  
    <hr />
<% end %>
<% else %>
    <div class="alert alert-error">
        抱歉，没有任何查询结果  
    </div>
<% end %>

<legend>包含标签"<%=@query%>"的用户</legend>
<% if !@tag_users.nil? && @tag_users.count > 0 then %>
    <% @tag_users.each do |user| %>
        <div class="row">
            <div class="span1">
                <% user.img = "default.png" if user.img.nil? %>
                <a href="/users/<%=user.id%>" ><img src="/photo/<%= user.img %>" height="45" width="45" class="img-polaroid"></img> </a>
            </div>
            <% if user.id != session[:user_id] then %>
            <div class="span11">
                <%= link_to user.name, user %>  
                <span class="time"><%= user.gender %></span>
                <%= user.location %>
                <span class="pull-right">
                    <% if @tag_is_following != nil && @tag_is_following[user.id.to_i] == false then %>
                        <a href="/users/add_following/<%=user.id%>" class="btn btn-info">关注</a>
                    <% elsif @tag_is_following != nil then %>
                        <a href="/users/del_following/<%=user.id%>" class="btn btn-info">删除</a>
                    <%end%>
                </span>
                <% end %>
        </div> 
            </div> 
        </div>  
        <hr />
    <% end %>
<% else %>
    <div class="alert alert-error">
        抱歉，没有任何用户使用了该标签.  
    </div>
<% end %>       
