<%= render 'navbar' %>
<% unless notice.nil?  then %>
<div class="alert alert-block">
    <p id="notice"><%= notice %></tr>
</div>
<% end %>

<div class="row-fluid">
    <div class="span2">
        <a href="/users/upload_photo">
            <img src="/photo/<%= @user.img%>" height="100" width="100" class="thumbnail">
         </a> 
    </div>
    <div class="span10">
    <legend>基本信息</legend>
    <table class="table table-bordered table-hover">
        <tr>
        <td><b>昵称:</b></td>
        <td><%= @user.name %></td>
        </tr>

        <tr>
        <td><b>邮箱:</b></td>
        <td><%= @user.email %></td>
        </tr>


        <tr>
        <td><b>所在地:</b></td>
        <td><%= @user.location %></td>
        </tr>

        <tr>
        <td><b>性别:</b></td>
        <td><%= @user.gender %></td>
        </tr>

        <tr>
        <td><b>博客:</b></td>
        <td><%= @user.blog %></td>
        </tr>


        <tr>
        <td><b>QQ:</b></td>
        <td><%= @user.qq %></td>
        </tr>

        <tr>
        <td><b>MSN:</b></td>
        <td><%= @user.msn %></td>
        </tr>
 </table> 
        <legend>简介</legend>
        <pre><%= @user.intro %></pre>
        
        <!-- this is the hashtag area -->
        <div>
            <% if !@tags.nil? then  @tags.each do |tag| %> 
                <span class="label label-info"><%= tag.name %></span>  
            <% end end %>
        </div>


        <% if(@isadmin) %>
            <%= link_to '编辑', edit_user_path(@user), :class => "btn pull-right"%>
            &nbsp;&nbsp; &nbsp;&nbsp;
            <%= link_to '新建标签', new_tag_path(), :class => "btn pull-right"%>
        <% end %>


    </div>
</div>

