<%= render 'navbar' %>
<legend>微博列表</legend>
<% unless @tweets.nil? then %>
<% @tweets.each do |tweet| %>
<div class="row">
    <div class="span1">
        <a href="/users/<%= @user.id %>"> <img src="/photo/<%= @user.img %>" height="45" width="45" class="img-polaroid"></img></a>
        <br/>
        <%= link_to @user.name, @user %>  
    </div>
    <div class="span8">
        <%= tweet.text %>
        <br />
        <span class="time"><%= tweet.date %></span>
        <br />
        <% if @isadmin then %><span><%= link_to '删除', tweet, :method => :delete, :data => { :confirm => 'Are you sure?' } %></span> <% end %>
    </div>
</div>
<hr />
<br />
<% end %>   
<% else %> 
    <p>还未发过任何微博.</p>
<% end %>
