<div class="row">
    <div class="span12">
        <% if @error then%>
            <div class="alert"><%= @error %> </div>
        <% end  %>
    </div>
</div>
<div class="row">
    <div class="span12">
        <legend>上传头像</legend>
        <%= form_tag('/users/submit_upload', {:class => "form-horizontal", :mutipart => true, :enctype => "multipart/form-data"}) do %>
            <div class="control-group">
                <label class="control-label">头像文件:</label>
                <div class="controls"><%= file_field_tag 'upload[file]' %></div>
            </div>

            <div class="form-actions">
                <%= submit_tag "确认上传", :class => "btn btn-primary" %>
            </div>
        <% end %>
    </div>
</div>
