<%= form_for(@tag, :html => {:class => "form-horizontal"}) do |f| %>
  <% if @tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

      <ul>
      <% @tag.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
      <label class="control-label">标签:</label>
      <div class="controls"><%= f.text_field :name %></div>
  </div>

  <div class="alert">
      <strong>提醒</strong> 定义更多的标签能让其他人通过标签找到你，你也可以找到更多志同道合的朋友。
  </div>

  <div class="form-actions">
      <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>
