<!DOCTYPE html>
<html>
    <head>
        <title>WeiboFinder | Powered by Neo4J</title>
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <%= stylesheet_link_tag    "application", :media => "all" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>
    </head>
    <body class="home">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="/">WeiboFinder</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <% unless session[:user_id].nil? %>
                            <li <%if @mainpage then %>class="active" <% end %>><a href="/">首页</a></li>
                            <li <%if @subprofile || @subfollowing || @subfollower || @subhomepage then %>class="active" <% end %>><a href="/users/<%=session[:user_id]%>">个人中心</a></li>
                            <% end %>
                        </ul>
                    </div><!--/.nav-collapse -->

                    <ul class="nav pull-right">
                        <% if session[:user_id].nil? %>
                            <li><a href="/users/new">注册</a>
                            <li><a href="/users/login">登录</a>
                        <% else %>
                            <li><a href="/users/<%= session[:user_id] %>"><%=session[:user_name]%></a>
                            <li><a href="/users/logout">注销</a>
                        <% end %>
                    </ul>
                    <form class="navbar-search pull-right" action="/users/search">
                        <input type="text" class="search-query span2" name="q" placeholder="搜索">
                    </form>
                </div>
            </div>
        </div>
        <div class="container">
            <%= yield %>
        </div>

    </body>
</html>
